@media only screen and (min-width: 0px) and (max-width: 280px) {
  * {
    font-size: 10px;
  }
  .app-profile-info-avatar-add {
    left: 40%;
    padding: 9px 40px;
  }
  .div#p-3 {
    overflow : hidden
  }
  .app-profile-beerphoto-img {
    width: 100%;
  }

  .app-profile-info-avatar-boximg {
    height: 80px;
    width: 80px;
  }
  .app-profile-beerphoto {
    height:45%
  }
  .app-profile-info-avatar-add {
    left: 34%;
    padding: 8px 30px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .app-profile-info-avatar-add {
    left: 40%;
    padding: 9px 40px;
  }
  .app-profile-beerphoto-img {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .app-profile-beerphoto {
    display: flex;
  }
  .app-profile-beerphoto-img {
    margin: auto;
  }
  a.app-profile-info-btn {
    height: 50px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1140px) {
  .app-profile-beerphoto {
    display: flex;
  }
  .app-profile-beerphoto-img {
    margin: auto;
  }
  a.app-profile-info-btn{
    height: 52px;
  }
}
@media only screen and (min-width: 1140px) and (max-width: 1320px) {
    .app-profile-diglog-updateavatar-boxbtn--destroy , .app-profile-diglog-updateavatar-boxbtn--Success {
        width: 50%;
    }

}
