.box {
    height: 80vh;
}
.boxinput {
    width: 100%;
    position: relative;
}
.error {
    border: 1px solid #f43939;
}
.boxIcon {
    position: absolute;
    width: 10%;
    right: 1px;
    top: 0;
    height: 98%;
    display: flex;
    align-items: center;
    background: #ced4da;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
}
@media only screen and (max-width: 540px) {
    .boxIcon {
        width: 15%;
    }
}

@media only screen and (min-width: 1024px) {
    .boxIcon {
        width: 8%;
    }
}
