.page {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.boxpage {
    display: flex;
    height: calc(100vh - 50px);
    width: 100%;
}
.title {
    width: 100%;
    text-align: center;
    height: 50px;
    margin: 0;
    line-height: 50px;
}
.boxauth {
    margin: auto;
    display: flex;
    height: 50px;
}
.authBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px 0px;
    border-radius: 7px;
    width: 275px;
    cursor: pointer;
    margin: 0px 10px;
}
.authBtn:hover {
    background: #2553d4;
}
.disabled {
    background-color: #6c757d;
    border-color: #6c757d;
}
.disabled:hover {
    background-color: #6c757d;
    border-color: #6c757d;
}
.authText {
    margin-left: 10px;
}
@media only screen and (max-width: 539px) {
    .boxauth {
        display: block;
        width: 100%;
        margin: 0;
    }
    .authBtn {
        padding: 20px 0px;
        width: 90%;
        cursor: pointer;
        margin: 5%;
    }
}
@media only screen and (min-width: 540px) and (max-width: 719px) {
    .boxauth {
        display: block;
        width: 100%;
        margin: 0;
    }
    .authBtn {
        padding: 20px 0px;
        width: 90%;
        cursor: pointer;
        margin: 5%;
    }
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
    .boxauth {
        display: block;
        width: 100%;
        margin: 0;
    }
    .authBtn {
        padding: 20px 0px;
        width: 90%;
        cursor: pointer;
        margin: 5%;
    }
}
