.Box-Confirm-Email {
    margin: 10px 0px;
}
.Box-Confirm-Email-box {
    margin-top: 10px;
    margin-left: 10px;
}

.Box-Confirm-Email-text-icon {
    margin-right: 10px;
    color: red;
}
.Box-Confirm-Email-boxheading-icon{
    margin-right: 5px;
}
.Box-Confirm-Email-heading-link {
    margin-left: 3px;
}