@media only screen and (min-width: 0px) and (max-width: 280px) {
  .login-img {
    display: none;
    border: none;
  }
  .login-box,
  .registration-box {
    width: 100%;
    margin-left: 0px;
  }
  .login-form,
  .registration-form {
    border-right: none;
    margin-top: 0px;
    height: auto;
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .login-img {
    display: none;
    border: none;
  }
  .login-box,
  .registration-box {
    width: 100%;
    margin-left: 0px;
  }
  .registration-form {
    margin-bottom: 200px;
  }
  .login-form,
  .registration-form {
    border-right: none;
    margin-top: 0px;
    height: auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .login-img {
    display: none;
    border: none;
  }
  .login-box,
  .registration-box {
    width: 100%;
    margin-left: 0px;
  }
  .login-form,
  .registration-form {
    border-right: none;
    margin-top: 0px;
    height: auto;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1140px) {
  .login-img-heading-text {
    font-size: 70px;
  }
  .login-img {
    margin-bottom: 320px;
  }
}
@media only screen and (min-width: 1140px) and (max-width: 1320px) {
}
